# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env*.local

# pwa generated
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/worker-*.js
public/worker-*.js.map
public/fallback-*.js
